# ======================
# Node
# ======================
node_modules/
*.log
.npm
.yarn
.pnpm-store

# lock 파일 정책에 따라 선택
# package-lock.json

# ======================
# Env
# ======================
.env
.env.*

# ======================
# iOS
# ======================
ios/build/
ios/Pods/
ios/DerivedData/
*.xcuserstate
**/.xcode.env.local
.DS_Store

# ======================
# Android
# ======================
android/build/
android/app/build/
.gradle
.idea
*.iml
local.properties
.cxx/
externalNativeBuild/

# ======================
# Metro / Jest
# ======================
.metro-health-check*
coverage/
reports/

# ======================
# Debug / Crash
# ======================
*.hprof
*.stackdump

# ======================
# Editors
# ======================
.vscode/
.vs/

# ======================
# Misc
# ======================
*.js.meta
